@font-face {
    font-family: 'Nasalization';
    src: url('fonts/nasalization-rg.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* DASHBOARD */
header.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header.dashboard .logo img {
    width: 90px;
    height: 75px;
}

header.dashboard .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header.dashboard .navigation ul li {
    margin-left: 20px;
}

header.dashboard .navigation ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header.dashboard .navigation ul li a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* BANNER */
section.banner {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

section.banner .banner-image {
    width: 100%;
    height: 400em;
    display: block;
    max-height: 900px;
    object-fit: cover;
}

section.banner .scrolling-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

section.banner .scrolling-image {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -100%;
    animation: scrollUp 10s linear infinite; 
}

/* BANNER ANIMATION */
@keyframes scrollUp {
    0% {
        bottom: -410%;
    }
    100% {
        bottom: 100%;
    }
}

section.banner .overlay-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

section.banner .overlay-image {
    width: 600px;
    height: auto;
}

section.banner .overlay-text {
    margin-top: 20px;
    font-family: 'Nasalization', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

/* SEARCH BAR AND FILTERS */
.search-bar-container .search-bar, 
.filter-container .filter select {
    width: 100%;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    outline: none;
    transition: transform 0.2s ease;
}

.search-bar-container .search-bar:hover,
.filter-container .filter select:hover {
    transform: scale(1.02);
}

.search-bar-container .search-bar::placeholder {
    color: rgb(0, 0, 0);
    font-style: italic;
}

.filter-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 10px;
    box-sizing: border-box;
    gap: 20px; 
}

.search-bar::placeholder {
    color: gray;
    font-style: italic;
}

.search-bar:hover {
    transform: scale(1.02);
}

section.search-bar-container {
    width: 80%; 
    margin: 20px auto;
    position: relative;
    box-sizing: border-box; 
}

.search-bar {
    width: 100%;
    padding: 12px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    outline: none;
    transition: transform 0.2s ease;
    box-sizing: border-box; 
}

/* INFORMATION */
section.information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%; 
    margin: 40px auto; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto; 
}

section.information .info-text {
    width: 60%; 
}

section.information .info-text h2 {
    font-family: 'Nasalization', sans-serif;
    font-size: 24px;
    margin-top: 0;
    text-align: left;
}

section.information .info-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

section.information .info-text a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;
}

section.information .info-image {
    width: 300px;
    text-align: right;
    padding-right: 25px;
}

section.information .info-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* USER ICON */
.user-icon {
    width: 60px;
    height: 60px;
    background-color: #ffffff; 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 2px solid black;
    transition: width 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.user-icon:hover {
    width: 120px; 
    border-radius: 30px; 
    background-color: #f0f0f0; 
    border: 2px solid black; 
}

.user-icon:hover::after {
    content: ' ▼'; 
    font-size: 18px;
    margin-left: 10px; 
}

/* DROPDOWN FOR USER */
#user-dropdown {
    display: none;
    position: absolute;
    top: 85px; 
    right: 0;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 5px;
    z-index: 9999; 
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

#user-dropdown a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#user-dropdown a:hover {
    background-color: #f1f1f1;
    color: black;
}

/* TABLE FOR ITEMS */
.items-table {
    width: 80%; 
    margin: 40px auto;
    border-collapse: separate;
    border-spacing: 0 0; 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.items-table th, .items-table td {
    border: none; 
    padding: 12px 20px;
    text-align: left;
    background-color: #f9f9f9; 
}

.items-table th {
    background-color: #e0e0e0;  
    font-weight: bold;
    color: #333;
    border-radius: 10px ; 
}

.items-table tr {
    background-color: #f9f9f9;
    transition: transform 0.2s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.items-table tr:not(:last-child) {
    border-bottom: 1px solid #e0e0e0; 
}

.items-table td {
    color: #555;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.items-table button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.items-table button:hover {
    background-color: green;
    color: white;
}

/* CART */
.cart-icon {
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    color: #000;
    margin-right: 1rem;
    top: 15px;
    left: 10px;
}

#cart-icon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart-count {
    position: absolute;
    top: -15px;
    right: -20px;
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

body.modal-open {
    overflow: hidden;
}

.main-content.modal-blur {
    filter: blur(5px); 
    pointer-events: none; 
}

.cart-modal {
    display: none; 
    position: fixed;
    right: 0;
    top: 0;
    width: 700px; 
    height: 100%;
    background-color: white;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden; 
}

.cart-modal.open {
    display: block;
    transform: translateX(0);
}

.cart-modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative; 
    height: 100%;
}

.close-cart {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.cart-title {
    font-family: 'Nasalization', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
}

.cart-items {
    max-height: 80vh;
    overflow-y: auto;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.cart-items .cart-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-items .cart-item:last-child {
    border-bottom: none;
}

#cart-items {
    max-height: calc(80vh - 120px);
    overflow-y: auto;
}

/* QUANTITY FOR ITEMS */
button:hover, input[type="checkbox"]:hover {
    background-color: black;
    color: white;
}

.items-table input[type="number"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 60px;
}

/* RETURN AGREEMENT AND CHECKOUT */
#returnable-checkbox {
    margin-right: 10px;
    
}

#returnable-agreement {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 60px; 
    left: 20px; 
    margin-bottom: 10px;
}

#checkout-button {
    position: absolute; 
    bottom: 20px;
    left: 10px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#checkout-button:hover {
    background-color: black;
    color: white;
}

.cart-modal button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

.cart-modal button:hover {
    background-color: black;
    color: white;
}

/* FOR OUT-OF-STOCK ITEMS */
.disabled-row {
    background-color: #f5f5f5;
    color: #888;
    pointer-events: none; 
}

.disabled-row input,
.disabled-row button {
    cursor: not-allowed;
    color: #888;
    background-color: #ddd;
}

/* CART ITEM */
.cart-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item-name {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1; 
    text-align: left;
}

.quantity-input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    background-color: white;
    margin-left: auto; 
}

.remove-cart-item {
    color: red;
    font-size: 22px; 
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    margin-left: 15px; 
}

.remove-cart-item:hover {
    color: darkred;
}

/* FILTER DROPDOWNS */
thead select {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 6px 10px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

thead select:hover {
    background-color: #f0f0f0;
    border-color: black;
}

#reset-filters-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 6px 12px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#reset-filters-btn:hover {
    background-color: black;
    color: grey;
}
